body {
    background-color: #f2f2f2;
    padding: 2.5em 6em;
}

.alert-success {
    padding: 1em 2em;
    border-radius: 5px;
    font-weight: bold;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    position: fixed;
    top: 2.5em;
    right: 6em;
    z-index: 1000;
}

.alert-danger {
    padding: 1em 2em;
    border-radius: 5px;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    position: fixed;
    top: 2.5em;
    right: 6em;
    z-index: 1000;
}

.nav {
    display: flex;
}

.nav h1 {
    margin: 0 0 0 0.5em;
    color: #305DFF;
}

.nav__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.63em 0.2em;
    height: 3em;
    width: 3em;
    background-color: #305DFF;
    border-radius: 5px;
    box-shadow: 2px 2px 5px grey;
    border: none;
    cursor: pointer;
}

.nav__icon-line {
    height: 65%;
    width: 65%;
}

.line1 {
    height: 1px;
    width: 50%;
    background-color: #fff;
}

.line2 {
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin-top: 0.5em;
}

.line3 {
    height: 1px;
    width: 25%;
    background-color: #fff;
    margin-top: 0.5em;
}

@media screen and (max-width: 768px) {
    body {
        background-color: #f2f2f2;
        padding: 2.5em 4em;
    }

    .alert-success {
        padding: 0.8em 2em;
        border-radius: 5px;
        font-weight: bold;
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
        position: fixed;
        top: 2.5em;
        right: 4em;
        z-index: 1000;
    }

    .alert-danger {
        padding: 0.8em 2em;
        border-radius: 5px;
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
        position: fixed;
        top: 2.5em;
        right: 4em;
        z-index: 1000;
    }
}