main {
    padding-top: 7em;
}

.login__content {
    margin: 0 auto;
    width: 24em;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 2px 2px 5px grey;
}

.login__heading {
    background-color: #305DFF;
    padding: 0.2em 0 0.2em 1em;
}

.login__heading h2 {
    color: #fff;
    font-size: 1rem;
}

.login-form {
    background-color: #fff;
}

.login-form__input {
    padding-top: 1.2em;
    padding-left: 1.5em;
}

.login-form__input input {
    border: none;
    border-bottom: solid 1px #000;
    margin-left: 0.5em;
    margin-right: 2em;
    width: 22em;
}

.login-form__input input:focus {
    outline: none;
}

.login-form__input img {
    height: 1.5em;
    width: 1.5em;
}


.login-form__button {
    padding: 1.3em 1.8em 1.3em 0;
    text-align: right;
}

.login-form__button-submit {
    padding: 0.6em 1.2em;
    border: none;
    border-radius: 5px;
    background-color: #305DFF;
    color: #fff;
    cursor: pointer;
}