.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    width: 100%;
    height: 100%;
    background-color: #fff;
    margin: 0;
    box-sizing: border-box;
    padding: 2.5em 6em 0;
}

.close-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.25em;
    width: 1.25em;
    border: none;
    font-size: 2rem;
    color: #fff;
    background-color: #305DFF;
    border-radius: 13%;
    box-shadow: 2px 2px 5px grey;
    cursor: pointer;
}

.modal-content-nav {
    margin-top: 7em;
}

.modal-content-nav ul {
    text-align: center;
    margin: 0;
    padding: 0;
}

.modal-content-nav li {
    list-style: none;
    margin-bottom: 1em;
}

.modal-content-nav a {
    text-decoration: none;
    font-size: 2rem;
    color: #305DFF;
}

.close-menu img {
    height: 0.5em;
    width: 0.5em;
}

@media screen and (max-width: 768px) {
    .modal-content {
        width: 100%;
        height: 100%;
        background-color: #fff;
        margin: 0;
        box-sizing: border-box;
        padding: 2.5em 4em 0;
    }
}