.mypage__content {
    display: flex;
    justify-content: space-between;
}

.reservation-status {
    width: 35%;
    margin-top: 6em;
}

.reservation-status__title {
    margin: 0 0 1.4em 0;
}

.favorite-restaurants {
    width: 54%;
}

.reservation-status__content {
    position: relative;
    overflow: hidden;
    background-color: #305DFF;
    border-radius: 5px;
    box-shadow: 2px 2px 5px grey;
    padding: 1em 2em 3em;
    margin-bottom: 1.5em;
    color: #fff;
}

.reservation-status__content-top__icon img,
.reservation-status__content-top__cancel img {
    height: 1.5em;
    width: 1.5em;
}

.reservation-status__content-top {
    display: flex;
    align-items: center;
    margin-bottom: 0.6em;
}

.reservation-status__content-top__order {
    margin-left: 3em;
}

.reservation-status__content-top__cancel {
    margin-left: auto;
}

.reservation-status__table {
    margin-bottom: 1em;
}

.reservation-status__info-column {
    text-align: left;
    padding: 0.6em 4em 0.6em 0em;
}

.reservation-status__modify-button,
.reservation-status__review-button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.reservation-status__modify-button-submit {
    display: block;
    width: 100%;
    padding: 1.2em;
    background-color: blue;
    color: #fff;
    border: none;
    cursor: pointer;
}

.reservation-status__review-button-submit {
    display: block;
    width: 100%;
    padding: 1.2em;
    background-color: #fff;
    color: blue;
    border: none;
    cursor: pointer;
}

.reservation__form {
    margin-bottom: 1em;
}

.reservation__form span,
.alert span {
    display: block;
    color: red;
}

.reservation__form input,
.reservation__form select,
.evaluation select,
.comment textarea {
    border-radius: 5px;
    border: none;
    padding: 0.4em;
}

.reservation__form input {
    width: 10em;
}

.reservation__form select {
    width: 95%;
}

.evaluation {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.evaluation p {
    margin: 0 2.3em 0 0;
}

.comment {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 1em;
}

.comment p {
    margin: 0 4.3em 0 0;
}

.comment textarea {
    width: 100%;
}

/* 以下、ユーザー名とお気に入り店舗 */

.user-name {
    font-size: 2rem;
    font-weight: bold;
    margin: 0.5em 0 1em 0;
}

.favorite-restaurants__title {
    margin: 0;
}

.favorite-restaurants__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2em;
}

.restaurant-card {
    position: relative;
    width: 20em;
    height: 20em;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 2px 2px 5px grey;
    margin-bottom: 1.5em;
}

.restaurant-card__img {
    overflow: hidden;
}

.restaurant-card__img img {
    width: 100%;
    margin-top: -10%;
}

.restaurant-card__content {
    position: absolute;
    top: 50%;
    width: 100%;
    background-color: #fff;
    margin: 0;
    padding: 1.2em;
}

.content__name p,
.content__tag p {
    margin: 0;
}

.content__name p {
    font-weight: bold;
    font-size: 1.4rem;
}

.content__tag {
    display: flex;
    font-size: 0.8rem;
    margin: 0.4em 0 1.4em 0;
}

.content__tag-area {
    margin-right: 0.5em;
}

.restaurant-card__content-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.content-bottom__detail-button-submit {
    padding: 0.4em 1.2em;
    border: none;
    border-radius: 5px;
    background-color: #305DFF;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.content-bottom__favorite-button-submit {
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.fa-heart {
    font-size: 2.4rem;
}


@media screen and (max-width: 768px) {
    .reservation-status {
        width: 45%;
        margin-top: 5.4em;
    }

    .reservation-status__content-top__order {
        margin-left: 2em;
    }

    .reservation-status__info-column {
        text-align: left;
        padding: 0.6em 2.5em 0.6em 0em;
    }

    .evaluation p {
        margin: 0 1em 0 0;
    }

    .favorite-restaurants {
        width: 45%;
    }

    .favorite-restaurants__content {
        margin-top: 2em;
    }

    .restaurant-card {
        position: relative;
        width: 18em;
        height: 18em;
        background-color: #fff;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 2px 2px 5px grey;
        margin-bottom: 1.5em;
    }

    .restaurant-card__content {
        position: absolute;
        top: 50%;
        width: 100%;
        background-color: #fff;
        margin: 0;
        padding: 0.8em 1em;
    }

    .user-name {
        font-size: 1.8rem;
        font-weight: bold;
        margin: 0.5em 0 1em 0;
    }

    .content__tag {
        display: flex;
        font-size: 0.8rem;
        margin: 0.4em 0 1em 0;
    }

    .content-bottom__detail-button-submit {
        padding: 0.4em 0.8em;
        border: none;
        border-radius: 5px;
        background-color: #305DFF;
        color: #fff;
        cursor: pointer;
        text-decoration: none;
    }
}