.header {
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
}

.nav h1 {
    margin: 0 0 0 0.5em;
    color: #305DFF;
}

.nav__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.63em 0.2em;
    height: 3em;
    width: 3em;
    background-color: #305DFF;
    border-radius: 5px;
    box-shadow: 2px 2px 5px grey;
    border: none;
    cursor: pointer;
}

.nav__icon-line {
    height: 65%;
    width: 65%;
}

.line1 {
    height: 1px;
    width: 50%;
    background-color: #fff;
}

.line2 {
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin-top: 0.5em;
}

.line3 {
    height: 1px;
    width: 25%;
    background-color: #fff;
    margin-top: 0.5em;
}

.search {
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 2px 2px 5px grey;
    border-radius: 5px;
    padding: 0.6em;
}

.fa-magnifying-glass {
    color: #f2f2f2;
}

.search select {
    width: 7em;
    cursor: pointer;
}

.search input {
    width: 30em;
    padding: 0 1em;
}

.search select:focus,
.search input:focus {
    outline: none;
}

.search select,
.search input {
    border: 0;
}

.search img {
    height: 1em;
    width: 1em;
}

.line {
    background-color: #f2f2f2;
    margin: 0 0.5em;
    height: 1.8em;
    width: 0.1em;
}

/* 以下main */

.restaurant-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2em;
}

.restaurant-card {
    position: relative;
    width: 20em;
    height: 20em;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 2px 2px 5px grey;
    margin-bottom: 1.5em;
}

.restaurant-card__img {
    overflow: hidden;
}

.restaurant-card__img img {
    width: 100%;
    margin-top: -10%;
}

.restaurant-card__content {
    position: absolute;
    top: 50%;
    width: 100%;
    background-color: #fff;
    margin: 0;
    padding: 1.2em;
}

.content__name p,
.content__tag p {
    margin: 0;
}

.content__name p {
    font-weight: bold;
    font-size: 1.4rem;
}

.content__tag {
    display: flex;
    font-size: 0.8rem;
    margin: 0.4em 0 1.4em 0;
}

.content__tag-area {
    margin-right: 0.5em;
}

.restaurant-card__content-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.content-bottom__detail-button-submit {
    padding: 0.4em 1.2em;
    border: none;
    border-radius: 5px;
    background-color: #305DFF;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.content-bottom__favorite-button-submit {
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.fa-heart {
    font-size: 2.4rem;
}


@media screen and (max-width: 768px) {
    .search input {
        width: 10em;
        padding: 0 1em;
    }

    .restaurant-card {
        position: relative;
        width: 18em;
        height: 18em;
        background-color: #fff;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 2px 2px 5px grey;
        margin-bottom: 1.5em;
    }

    .restaurant-card__content {
        position: absolute;
        top: 50%;
        width: 100%;
        background-color: #fff;
        margin: 0;
        padding: 0.8em 1em;
    }

    .content__tag {
        display: flex;
        font-size: 0.8rem;
        margin: 0.4em 0 1em 0;
    }

    .content-bottom__detail-button-submit {
        padding: 0.4em 0.8em;
        border: none;
        border-radius: 5px;
        background-color: #305DFF;
        color: #fff;
        cursor: pointer;
        text-decoration: none;
    }
}