.shop-management__content {
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
}

.reservation-info {
    width: 35%;
}

.restaurant-info__select {
    display: flex;
    align-items: center;
    margin-bottom: 3em;
}

.restaurant-info__select p {
    margin: 0;
    font-size: 1.2rem;
}

.restaurant-info__select select {
    padding: 0.3em;
    width: 10em;
    font-size: 1.2rem;
    border-radius: 5px;
}

.reservation-info__title {
    margin: 0 0 1.4em 0;
}

.reservation-info__content {
    background-color: #305DFF;
    border-radius: 5px;
    box-shadow: 2px 2px 5px grey;
    padding: 1em 2em;
    margin-bottom: 1.5em;
    color: #fff;
}

.reservation-info__content-top__icon img,
.reservation-info__content-top__cancel img {
    height: 1.5em;
    width: 1.5em;
}

.reservation-info__content-top {
    display: flex;
    align-items: center;
    margin-bottom: 0.6em;
}

.reservation-info__content-top__order {
    margin-left: 3em;
}

.reservation-info__content-top__cancel {
    margin-left: auto;
}

.reservation-info__table {
    margin-bottom: 1em;
}

.reservation-info__data-column {
    text-align: left;
    padding: 0.6em 4em 0.6em 0em;
}

.reservation-info__modify-button,
.reservation-info__review-button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.reservation-info__modify-button-submit {
    display: block;
    width: 100%;
    padding: 1.2em;
    background-color: blue;
    color: #fff;
    border: none;
    cursor: pointer;
}

.reservation-info__review-button-submit {
    display: block;
    width: 100%;
    padding: 1.2em;
    background-color: #fff;
    color: blue;
    border: none;
    cursor: pointer;
}

.restaurant-info {
    width: 54%;
}

.authority-name {
    margin: 0 0 1.1em 0;
    font-size: 2rem;
    font-weight: bold;
}

.restaurant-info__create button {
    padding: 0.8em 2em;
    border: none;
    border-radius: 5px;
    background-color: #305DFF;
    color: #fff;
    cursor: pointer;
    margin-top: 0.9em;
    margin-bottom: 1em;
}

.restaurant-info__create-inner {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 5px grey;
    padding: 2em;
}

.restaurant-info__form,
.restaurant-info__form--image,
.restaurant-info__form--textarea {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.restaurant-info__form label {
    margin: 0;
}

.restaurant-info__form input,
.restaurant-info__form--image input,
.restaurant-info__form select,
.restaurant-info__form--textarea textarea {
    border-radius: 5px;
    padding: 0.5em;
}

.restaurant-info__form input,
.restaurant-info__form select {
    width: 15em;
}

.input-name {
    margin-left: 4.2em;
    border: 1px solid;
}

.input-image {
    margin-left: 3.7em;
}

.select-area {
    margin-left: 2.9em;
}

.select-genre {
    margin-left: 1.7em;
}

.restaurant-info__form--textarea textarea {
    width: 70%;
    margin-left: 4em;
}

.restaurant-info__form--button-submit {
    padding: 0.8em 2em;
    border: none;
    border-radius: 5px;
    background-color: #305DFF;
    color: #fff;
    cursor: pointer;
    margin-top: 0.95em;
    margin-bottom: 1em;
}

@media screen and (max-width: 768px) {
    .reservation-info {
        width: 42%;
    }

    .reservation-info__content-top__order {
        margin-left: 2em;
    }

    .restaurant-info__select select {
        padding: 0.4em;
        width: 9em;
        border-radius: 5px;
        font-size: 1rem;
    }

    .reservation-info__content {
        background-color: #305DFF;
        border-radius: 5px;
        box-shadow: 2px 2px 5px grey;
        padding: 0.5em 1.5em;
        margin-bottom: 1.5em;
        color: #fff;
    }

    .reservation-info__data-column {
        text-align: left;
        padding: 0.6em 2.5em 0.6em 0em;
    }

    .input-name {
        margin-left: 0;
        border: 1px solid;
    }

    .restaurant-info {
        width: 50%;
    }

    .restaurant-info__form,
    .restaurant-info__form--image,
    .restaurant-info__form--textarea {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin-bottom: 1em;
    }

    .input-image,
    .select-area,
    .select-genre {
        margin-left: 0;
    }

    .restaurant-info__form--textarea textarea {
        width: 100%;
        margin-left: 0;
    }
}